.packages
.dart_tool/package_config_subset
.dart_tool/package_config.json
.dart_tool/version
.metadata
.idea/modules.xml
.idea/workspace.xml
.idea/libraries/Dart_SDK.xml
.idea/libraries/KotlinJavaRuntime.xml
.idea/runConfigurations/main_dart.xml
build/ios/Runner.build/Release-iphoneos/Runner.build/dgph
pubspec.lock
.dart_tool/build/entrypoint/.packageLocations
.dart_tool/pub/bin/build_runner/build_runner.dart-2.13.0-211.13.beta.snapshot
.dart_tool/build_resolvers/sdk.sum.deps
.dart_tool/build_resolvers/sdk.sum
.dart_tool/build/generated/useless_app/lib/application/useless_provider.injectable.json
.dart_tool/build/fcd1995bc647fb959e82ea360c6c2c9a/asset_graph.json
.dart_tool/build/entrypoint/build.dart.snapshot
.dart_tool/build/098d3ee73e6cc294616d3a2e2c3c81ad/asset_graph.json
.dart_tool/pub/bin/build_runner/build_runner.dart-2.13.0-211.13.beta.snapshot
.dart_tool/build/fcd1995bc647fb959e82ea360c6c2c9a/asset_graph.json
